/* body {
    margin: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */
body {
    margin: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.card { 
    display: flex;
    background-image: url("../../image/Case.jpg");
    align-items: start;
    justify-content: center;
    height: 400px;
    background-size: cover;
    background-position: center;
}
/* .card { 
    display: flex;
    align-items: flex-end;
    height: 800px;
    background-image: url("../../image/Case.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid;
} */

.content {
    font-size: 1.6rem;
    height: 3em;
    padding: 5em 8em;
    width: 100%;
    text-shadow: white;
}